.vjs-s3bubble-bitrate-switcher .vjs-stream-info {
  position: absolute;
  top: 10px;
  left: 10px;
}

.vjs-s3bubble-bitrate-switcher .vjs-stream-info .vjs-stream-info-box {
  background: rgb(0 0 0/50%);
  color: #fff;
  padding: 0.5em;
  width: auto;
  font-size: 12px;
  border-radius: 3px;
  line-height: 16px;
}
